<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Chạy test nội dung nào thì cho intent-filter với 2 thuôc tính là .MAIN và .LAUNCHER -->
    <!-- Quyền đọc file âm thanh trong bộ nhớ (Android 13 trở lên) -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Quyền đọc bộ nhớ ngoài (cho Android 12 trở xuống) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTutorial">
        <activity
            android:name=".audioplayer.music.paywall.PayWallFocusFullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.paywall.PayWallFocusBottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.paywall.PaywallUnlockFeatureActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.paywall.PayWallMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".audioplayer.music.paywall.PaywallOnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.paywall.PaywallSale30YearlyActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.paywall.PaywallSale30WeeklyActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.paywall.PaywallSale50WeeklyActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.layout.NoteHomeActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.layout.summary.SummaryActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.layout.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.layout.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.permissions.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.launchmode.MainActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.launchmode.SingleInstanceActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".audioplayer.music.launchmode.SingleTaskActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".audioplayer.music.launchmode.SingleTopActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".audioplayer.music.launchmode.StandardActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".audioplayer.music.navigation.activityresultlauncher.SecondaryResultActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.navigation.activityresultlauncher.FirstResultActivity"
            android:exported="true" />
        <activity
            android:name=".audioplayer.music.navigation.bundle.SecondaryBundleActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.navigation.bundle.FirstBundleActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.navigation.intent.SecondaryActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.navigation.intent.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".audioplayer.music.lifecycle.LifecycleActivity"
            android:exported="false" />
    </application>

</manifest>